In [1]:
# Add dependencies
import glob
import pandas as pd

In [2]:
# glob.glob('data*.csv') - returns List[str]
# pd.read_csv(f) - returns pd.DataFrame()
# for f in glob.glob() - returns a List[DataFrames]
# pd.concat() - returns one pd.DataFrame()
CitiBike_data_ridership = pd.concat([pd.read_csv(f) for f in glob.glob('Resources/CitiBikeDailyRidershipandMembershipData/*.csv')], ignore_index = True)
CitiBike_data_trip = pd.concat([pd.read_csv(f) for f in glob.glob('Resources/CitiBikeTripHistories/*.csv')], ignore_index = True)

/Users/duwlitoe/anaconda3/envs/pythondata/lib/python3.6/site-packages/ipykernel_launcher.py:5: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """

In [4]:
CitiBike_data_ridership.head()

,24-Hour Passes Purchased (midnight to 11:59 pm),3-Day Passes Purchased (midnight to 11:59 pm),Column 1,Date,Miles traveled today (midnight to 11:59 pm),Total Annual Members (All Time),Trips over the past 24-hours (midnight to 11:59pm)
0,1466,76,undefined,4/1/19,75072,303223,51399
1,1483,73,undefined,4/2/19,83399,303386,57903
2,3013,79,undefined,4/3/19,108780,303552,67924
3,2633,87,undefined,4/4/19,104268,303699,66403
4,812,46,undefined,4/5/19,46930,303766,34470

In [5]:
CitiBike_data_ridership.count()

24-Hour Passes Purchased (midnight to 11:59 pm)       161
3-Day Passes Purchased (midnight to 11:59 pm)         161
Column 1                                               71
Date                                                  161
Miles traveled today (midnight to 11:59 pm)           161
Total Annual Members (All Time)                       161
Trips over the past 24-hours (midnight to 11:59pm)    161
dtype: int64

In [6]:
CitiBike_data_trip.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,142,2019-02-01 15:35:02.0820,2019-02-01 15:37:24.1360,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,29677,Subscriber,1963,1
1,223,2019-02-01 17:00:46.8900,2019-02-01 17:04:30.5500,3183,Exchange Place,40.716247,-74.033459,3681,Grand St,40.715178,-74.037683,26234,Subscriber,1992,2
2,106,2019-02-01 17:08:01.3260,2019-02-01 17:09:47.4400,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,29588,Subscriber,1960,1
3,370,2019-02-01 17:09:31.2100,2019-02-01 17:15:41.6550,3183,Exchange Place,40.716247,-74.033459,3211,Newark Ave,40.721525,-74.046305,29250,Subscriber,1976,1
4,315,2019-02-01 17:19:53.2490,2019-02-01 17:25:09.1400,3183,Exchange Place,40.716247,-74.033459,3273,Manila & 1st,40.721651,-74.042884,29586,Subscriber,1980,1

In [7]:
CitiBike_data_trip.count()

tripduration               170468
starttime                  170468
stoptime                   170468
start station id           170468
start station name         170468
start station latitude     170468
start station longitude    170468
end station id             170468
end station name           170468
end station latitude       170468
end station longitude      170468
bikeid                     170468
usertype                   170468
birth year                 170468
gender                     170468
dtype: int64

In [10]:
# Export to csv
CitiBike_data_ridership.to_csv("CitiBike_quarter_data_2019.csv")
CitiBike_data_trip.to_csv("CitiBike_data_2019.csv")